


.mu {
  margin-right: 10px;
  font-size: 700;
  font-weight: 800;
  text-decoration: none;
  background-color: gold;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
h1 {
  color: rgb(255, 251, 0);
}
.container-fluid {
  border: none;
  border-radius: 10px;
}
.card {
  margin-top: 50px;
  width: 15rem;
}